/*custom ZELASTO wiki CSS goes here*/

:root {
    --technology: #6c90fc;
    --ux: #fc507e;
    --design: #ff6644;
    --society: #ffba26;
}

.topic a {
    color: inherit;
}

.topic:hover a{
    filter: brightness(150%);
}

li.topic {
    margin: -0.7em 0.5em;
}

li.topic::before {
    display: none !important;
}

.topic:hover {
    cursor: pointer;
}

.topic-Technology {
    color: #6c90fc !important;
}

.topic-UserExperience {
    color: #fc507e !important;
}

.topic-Design {
    color: #ff6644 !important;
}

.topic-Society {
    color: #ffba26 !important;
}

.strap {
    color: #aaa;    
}

.topic {
    border-style: solid;
    border-radius: 30px;
    border-width: 2px;
    display: inline-block;
    margin-right: 1em;
    padding: 0.7rem;
    width: fit-content;
}

/*** OVERWRITE ***/

.breadcrumb-item+.breadcrumb-item::before {
    padding-right: 0rem !important;
}
.breadcrumb-item{
    margin-right: 0.5em;
}

.badge-technology {
    color: #fff;
    background-color: #6c90fc
}

.badge-technology[href]:hover,
.badge-technology[href]:focus {
    color: #222;
    text-decoration: none;
    background-color: #bcccff
}

.badge-ux {
    color: #fff;
    background-color: #fc507e
}

.badge-ux[href]:hover,
.badge-ux[href]:focus {
    color: #222;
    text-decoration: none;
    background-color: #faa3bd
}

.badge-design {
    color: #fff;
    background-color: #ff6644
}

.badge-design[href]:hover,
.badge-design[href]:focus {
    color: #222;
    text-decoration: none;
    background-color: #ff9e86
}

.badge-society {
    color: #fff;
    background-color: #ffba26
}

.badge-society[href]:hover,
.badge-society[href]:focus {
    color: #222;
    text-decoration: none;
    background-color: #ffde89
}

h1 {
    font-size: 3rem;
}

ul.underscore { list-style-type:none;}
ol.underscore, ul.underscore li:before { content: "__"; }



