/*custom ZELASTO wiki CSS goes here*/

:root {
    --technology: #6c90fc;
    --ux: #fc507e;
    --design: #ff6644;
    --society: #ffba26;
}

h1 {
    font-size: 3rem;
}

.badge-technology {
    color: #fff;
    background-color: #6c90fc
}

.badge-technology[href]:hover,
.badge-technology[href]:focus {
    color: #222;
    text-decoration: none;
    background-color: #bcccff
}

.badge-ux {
    color: #fff;
    background-color: #fc507e
}

.badge-ux[href]:hover,
.badge-ux[href]:focus {
    color: #222;
    text-decoration: none;
    background-color: #faa3bd
}

.badge-design {
    color: #fff;
    background-color: #ff6644
}

.badge-design[href]:hover,
.badge-design[href]:focus {
    color: #222;
    text-decoration: none;
    background-color: #ff9e86
}

.badge-society {
    color: #fff;
    background-color: #ffba26
}

.badge-society[href]:hover,
.badge-society[href]:focus {
    color: #222;
    text-decoration: none;
    background-color: #ffde89
}

.strap {
    color: #aaa;
    
}

.topic {
    border-style: solid;
    border-radius: 30px;
    border-width: 2px;
    margin-bottom: 5rem ;
    padding: 0.7rem;
    width: fit-content;
}

.topic:hover {
    cursor: pointer;
}

.topic-technology {
    color: #6c90fc;
}

.topic-ux {
    color: #fc507e;
}

.topic-design {
    color: #ff6644;
}

.topic-society {
    color: #ffba26;
}

/*overwritings*/ 

@media(min-width:768px) {
    .td-main main {
        padding-top: 2.5rem;
    }
}


