---
layout: plain
---
{% include breadcrumb-best-practice.html %}
<h4 class="strap">Best Practice</h4>
{{ content }}
<hr class="panel-line">
<h4>More Best Practices</h4>

<!-- alle Best Pracctices aus der gleichen Kategorie-->
{% assign best-practices = site.best-practices | where: "category", page.category | where_exp: "best-bestice", "best-practice.lession != page.lession" %}
<ul>
{% for item in best-practices %}
  <li><a href="{{ item.url }}">{{ item.title }}</a></li>
{% endfor %}
</ul>


{% include toc.html %}
{% include permalinks.html %}
{% include tags.html %}
