---
layout: plain
---
<a href="/terms-and-concepts/" alt="back to terms and concepts"><i class="fa fa-arrow-left"></i> back to Terms and Concepts</a>
<h3 class="font-weight-bold">{{ page.title }}</h3>
{{ content }}


<hr class="panel-line">

{% assign terms = site.terms %}
{% for term in terms %}

    <!-- find current term -->
    {% if term.title == page.title %}              
        
        {% unless forloop.first %}     
            {% assign previous_i = forloop.index0 | minus: 1 %}                      
            previous: <a href="{{ terms[previous_i].url }}">{{ terms[previous_i].title }}</a>
        {% endunless %}     

        {% unless forloop.last %}     
            {% assign next_i = forloop.index0 | plus: 1 %}                      
            next: <a href="{{ terms[next_i].url }}">{{ terms[next_i].title }}</a>
        {% endunless %}

    {% endif %}


{% endfor %}



