---
layout: plain
---
<a href="/terms-and-concepts/" alt="back to terms and concepts"><i class="fa fa-arrow-left"></i> back to Terms and Concepts</a>
<h3 class="font-weight-bold">{{ page.title }}</h3>
{{ content }}


<hr class="panel-line">

{% for term in site.terms %}
    {% if term.title == page.title %}     

        {% unless forloop.first %} 
            {% assign previous_i = forloop.index0 | minus: 1 %} 
            {% assign previous_bp = terms | where: term.index, previous_i %} 
            
            <a href="{{ term[5].url }}">term 5</a>
            <p>{{ previous_i }} - index of the previous best practice</p>  
        {% endunless %} 

        {% unless forloop.last %} 
            {% assign next_i = forloop.index0 | plus: 1 %}             
            <a href="{{ term.url }}">{{ terms[next_i].title }}</a>
            <p>{{ next_i }} - index of the next best practice</p>  
        {% endunless %}  

    {% endif %}
{% endfor %}



