---
layout: plain
---
<a href="/terms-and-concepts/" alt="back to terms and concepts"><i class="fa fa-arrow-left"></i> back to Terms and Concepts</a>
<h3 class="font-weight-bold">{{ page.title }}</h3>
{{ content }}


<hr class="panel-line">

{% for term in site.terms %}
    {% if term.title == page.title %} 
        {% unless forloop.last %}   
        {% assign next_i = forloop.index0 | plus: 1 %}
        <a href="{{ terms[next_i].url }}">{{term.title }}</a>
        {% endunless %}  
    {% endif %}
{% endfor %}



